
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/Symptom-Disease-Quiz-Application.iml
.idea/vcs.xml
.idea/workspace.xml
backend/.idea/backend.iml
backend/.idea/inspectionProfiles/profiles_settings.xml
backend/.idea/inspectionProfiles/Project_Default.xml
backend/.idea/misc.xml
backend/.idea/modules.xml
backend/.idea/vcs.xml
backend/backend/__pycache__/__init__.cpython-312.pyc
backend/backend/__pycache__/settings.cpython-312.pyc
backend/.idea/workspace.xml
*.pyc
backend/backend/.env
backend/medical_quiz.log
backend/medical_quiz.log
backend/.idea/dataSources.local.xml
backend/.idea/dataSources.xml
backend/.idea/dataSources/1ece742d-2d58-4e13-aa6c-e5e5a25904ac.xml
backend/.idea/dataSources/1ece742d-2d58-4e13-aa6c-e5e5a25904ac/storage_v2/_src_/database/symptom_db.VKYx_Q.meta
backend/.idea/dataSources/1ece742d-2d58-4e13-aa6c-e5e5a25904ac/storage_v2/_src_/database/symptom_db.VKYx_Q/schema/public.abK9xQ.meta
backend/authentication/__pycache__/schemas.cpython-312.pyc
backend/authentication/__pycache__/tests.cpython-312.pyc
backend/authentication/__pycache__/views.cpython-312.pyc
backend/medical_quiz.log
backend/authentication/__pycache__/views.cpython-312.pyc
backend/authentication/__pycache__/schemas.cpython-312.pyc
backend/authentication/__pycache__/schemas.cpython-312.pyc
backend/authentication/__pycache__/views.cpython-312.pyc
backend/quiz/__pycache__/models.cpython-312.pyc
backend/quiz/__pycache__/schemas.cpython-312.pyc
backend/quiz/__pycache__/views.cpython-312.pyc
*.pyc
frontend/.idea/frontend.iml
frontend/.idea/inspectionProfiles/Project_Default.xml
frontend/.idea/modules.xml
frontend/.idea/vcs.xml
frontend/vue_main/package-lock.json
frontend/vue_main/package.json
ml/.idea/inspectionProfiles/profiles_settings.xml
ml/.idea/inspectionProfiles/Project_Default.xml
ml/.idea/misc.xml
ml/.idea/ml.iml
ml/.idea/modules.xml
ml/.idea/vcs.xml
ml/db.sqlite3
ml/ml/.env
